@{
    ViewData["Title"] = "Sobre";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<p><strong>Criador: </strong> @ViewData["Creator"]</p>
<p><strong>Email: </strong> @ViewData["Email"]</p>
<address>
    <strong>Mais informações: </strong> <a href="https://github.com/ArthurRossi15">Github</a>
</address>
